__pycache__/
.DS_Store
.idea/
.idea
.project
.pydevproject
.settings
.bash_history
.python_history

/venv/
/venv/*
/venv/**/
/venv/**/*

/build/application/
/AppDir/application/

/app/.config
/app/.config/*
/app/.config/**
/app/.config/**/*